<!DOCTYPE html>
<html>

    <head>
        <title>Wikipedia Link Suggestions</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="dark light" />
        <script src="/static/main.js"></script>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        {{> header }}
        <main>
        <form id="suggestionForm" >
          <input value="{{language}}" type="text" id="language"/>.wikipedia.org/wiki/
          <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input"
              placeholder="Search Wikipedia"
              aria-label="Search Wikipedia"
              value="{{title}}" 
              id="title" 
            >
            <ul class="autocomplete-result-list"></ul>
          </div>
          <label for="confidence_score">confidence score</label>
          <input
            type="number"
            min="0.2"
            max="1.0"
            step="0.1"
            value="{{confidence_score}}"
            class="range"
            id="confidence_score"
          />
          <select id="algorithm">
          <option value="all" >Algorithm</option>
          <option value="ml">Machine learning</option>
          <option value="new" selected>Statistical</option>
          </select>
          <button type="submit">Submit</button>
        </form>
        <article><pre id="wikitext">{{results.new_wikitext}}</pre></article>
       </main>
    <section class="suggestion-preview" id="preview" >
    </section>

        <script
  src="https://santhoshtr.github.io/wiki-elements/src/wiki-article.js"
  type="module">
    </script>
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <script>


new Autocomplete('#autocomplete', {
  search: input => {
    const params = 'action=query&list=search&format=json&origin=*'
    const language = document.getElementById("language").value;
    const wikiUrl = `https://${language}.wikipedia.org`
    const url = `${wikiUrl}/w/api.php?${
      params
    }&srsearch=${encodeURI(input)}`

    return new Promise(resolve => {
      if (input.length < 3) {
        return resolve([])
      }
      fetch(url)
        .then(response => response.json())
        .then(data => {
          const results = data.query.search.map((result, index) => {
            return { ...result, index }
          })
          resolve(results)
        })
    })
  },
  
  // Control the rendering of result items.
  // Let's show the title and snippet
  // from the Wikipedia results
  renderResult: (result, props) => {
    return `
      <li ${props}>
        <div class="wiki-title">
          ${result.title}
        </div>
      </li>
    `
  },

  // We want to display the title
  getResultValue: result => result.title,

})
</script>
    </body>

</html>
